<head>
    <h1>Orders</h1>
    <body onload="browsePeople()">
        <nav class="navbar">
            <ul class = "navlist">
                <li class = "home"><a href="/">Home</a> </li>
                <li class = "add_item_link"><a href="/customers">Customers</a></li>
                <li class = "add_order_link"><a href = "/orders">Orders</a></li>
                <li class = "add_order_link"><a href = "/items">Items</a></li> 
                <li class = "add_order_link"><a href = "/reviews">Reviews</a></li>
                <li class = "add_order_link"><a href = "/categories">Categories</a></li>
                <li class = "add_order_link"><a href = "/orderItems">Orders</a></li>

            </ul>
        </nav>
    </body>
    <script language="JavaScript">
        function showform(dowhat) {
            /*
            * four DIVS: browse, insert, update, delete
            * this function sets one visible the others not
            */
            if (dowhat == 'insert'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'update'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
            }
            else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
            }
        }
        function newPerson() { showform('insert'); }
        function updatePerson(pid) { showform('update'); }
        function deletePerson(pid) { showform ('delete'); }
        function browsePeople() { showform ('browse'); }
    </script> 

    
    
</head>


 
  {{!-- buttons on the top of page--}}
  <div id ="browse">
    <td><a href="#" onClick="newPerson()">Add</a></td>
    {{!-- <td><a href="#" onClick="searchCustomer()">Search</a></td> --}}
    <td><a href="#" onclick="deletePerson('this.personID')">Delete</a></td>
    <td><a href="#" onClick="updatePerson('this.personID')">Update</a></td>   
  </div>



<table id= "browse"> 
    {{!-- Header section --}}
    <thead >
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each orders.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each orders}}
        <tr>
            <td>{{this.orderID}}</td>
            <td>{{this.customerID}}</td>
            <td>{{this.orderDate}}</td>
            <td>{{this.creditCardNumb}}</td>
            <td>{{this.creditCardExpDate}}</td>
            <td>{{this.numOrderedItems}}</td>
            <td>{{this.pricePaid}}</td> 
        </tr>
        {{/each}}
    </tbody>
</table>



<!--insert  An Order -->
<form id="insert" method="POST" action="/add-order-form">
<fieldset class="fields" id = "order-table">
    <legend><strong>ADD An Order </strong></legend>
        <label><strong>CustomerID:</strong> </label>
           <select name="input-customerID" id="input-customerID">
             <option value="test">Select a customer</option>
                {{#each customers}}
                <option value="{{this.customerID}}"> {{this.firstName}} {{this.lastName}}({{this.customerID}})</option>
                {{/each}} 
           </select>
        </label>    
        
    <label for="input-orderDate">order date: </label>
    <input type="date" name="input-orderDate" id="input-orderDate">

    <label for="input-creditCardNumb">creditCardNumb: </label>
    <input type="text" name="input-creditCardNumb" id="input-acreditCardNumb">

    <label for="input-creditCardExpDate:">creditCardExpDate: </label>
    <input type="date" name="input-creditCardExpDate" id="input-creditCardExpDate">
     
    <label for="input-numOrderedItems">numOrderedItems: </label>
    <input type="text" name="input-numOrderedItems" id="input-numOrderedItems">

     <label for="input-pricePaid">pricePaid: </label>
    <input type="text" name="input-pricePaid" id="input-pricePaid">

   </fieldset>
    <input class="btn" type="submit" id="addPerson" value="Add">
     <input class="btn" type="button" value="cancel" onClick="browsePeople()">
</form>
</div>



{{!-- Updata An Order --}}
<form id="update" method="POST" action="/update-order-form">
<fieldset class="fields" id = "update-form">
     <legend><strong>Update An Order </strong></legend>
        <label><strong>orderID:</strong> </label>
           <select name="input-orderID" id="input-orderID">
             <option value="test">Select an orderID to update</option>
                {{#each orders}}
                <option value="{{this.orderID}}"> {{this.orderID}}</option>
                {{/each}} 
           </select>
        </label>    
        {{!-- <label><strong>CustomerID:</strong> </label>
           <select name="input-customerID" id="input-customerID">
             <option value="test">Select a customer to update</option>
                {{#each orders}}
                <option value="{{this.customerID}}">({{this.customerID}})</option>
                {{/each}} 
           </select>
        </label>     --}}
        
    <label for="input-orderDate">order date: </label>
    <input type="date" name="input-orderDate" id="input-orderDate">

    <label for="input-creditCardNumb">creditCardNumb: </label>
    <input type="text" name="input-creditCardNumb" id="input-acreditCardNumb">

    <label for="input-creditCardExpDate:">creditCardExpDate: </label>
    <input type="date" name="input-creditCardExpDate" id="input-creditCardExpDate">
     
    <label for="input-numOrderedItems">numOrderedItems: </label>
    <input type="text" name="input-numOrderedItems" id="input-numOrderedItems">

     <label for="input-pricePaid">pricePaid: </label>
    <input type="text" name="input-pricePaid" id="input-pricePaid">

   </fieldset>
    <input class="btn" type="submit" id="addPerson" value="Update">
     <input class="btn" type="button" value="cancel" onClick="browsePeople()">
</form>
</div>

<!--Deleting An Order -->
<div id="delete" style="display: block">
  <form method="POST" id="deleteOrder" action="/deleteOrder">
      <legend><strong>Delete An order </strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <label><strong>orderID:</strong> </label>
           <select name="delete-order" id="delete-order">
                {{#each orders}}
                <option value= "{{this.orderID}}">{{this.orderID}}</option>
                {{/each}}
           </select>
        </label>     
    </fieldset>
    <input class="btn" type="submit" id="DeletePerson" value="Delete">
    <input class="btn" type="button" value="cancel" onClick="browsePeople()">
  </form> 
</div>

<script src ="./js/addOrder.js">  </script> 
<script src="./js/updateOrder.js"></script>