<head>
    <h1>Orders</h1>
    <body onload="browsePeople()">
        <nav class="navbar">
            <ul class = "navlist">
                <li class = "home"><a href="/home">Home</a> </li>
                <li class = "add_item_link"><a href="/">Customers</a></li>
                <li class = "add_order_link"><a href = "/orders">Orders</a></li>
                <li class = "add_order_link"><a href = "/items">Items</a></li> 
                <li class = "add_order_link"><a href = "/reviews">Reviews</a></li>
                <li class = "add_order_link"><a href = "/categories">Categories</a></li>
            </ul>
        </nav>
    </body>
    
</head>

 <div class="button-container">
    <a href="#" id="displayAllForms" onClick="showAll()" class="circular-button">All Forms</a>
 </div>
 
  {{!-- buttons on the top of page--}}
  <div id ="browse">
    <td><a href="#" onClick="newPerson()">Add</a></td>
    {{!-- <td><a href="#" onClick="searchCustomer()">Search</a></td> --}}
    <td><a href="#" onclick="deletePerson('this.personID')">Delete</a></td>
  </div>



<table id= "browse"> 
    {{!-- Header section --}}
    <thead >
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each orders.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each orders}}
        <tr>
            <td>{{this.orderID}}</td>
            <td>{{this.customerID}}</td>
            <td>{{this.orderDate}}</td>
            <td>{{this.creditCardNumb}}</td>
            <td>{{this.creditCardExpDate}}</td>
            <td>{{this.numOrderedItems}}</td>
            <td>{{this.pricePaid}}</td> 
            <td><a href="#" onClick="updatePerson('this.personID')">Update</a></td>   
        </tr>
        {{/each}}
    </tbody>
</table>





<!--Search An Order -->
<div id="search"   style="display: block" >           
  <form method="POST" id="searchOrder" action = "/searchOrder">
      <legend><strong>Search An Order</strong></legend>
        <label><strong>OrderID:</strong> </label>
           <select name="delete-customer" id="delete-customer">
            {{#each data}}
            <a href="/deleteCustomer/{{this.customerID}}"><option value="{{this.customerID}}">{{this.customerID}}</option></a>
            {{/each}}
        </select>
          </label>     
         <input class="btn" type="submit" id="addPerson" value="Search">
        <input class="btn" type="button" value="cancel" onClick="browsePeople()">
  </form> 
</div>


<!--insert  An Order -->
<form id="insert" method="POST" action="/add-order-form">
<fieldset class="fields" id = "order-table">
    <legend><strong>ADD An Order </strong></legend>
        <label><strong>CustomerID:</strong> </label>
           <select name="input-customerID" id="input-customerID">
                {{#each customers}}
                <option value="{{this.customerID}}"> {{this.firstName}} {{this.lastName}}({{this.customerID}})</option>
                {{/each}} 
           </select>
        </label>    
        
    <label for="input-orderDate">order date: </label>
    <input type="date" name="input-orderDate" id="input-orderDate">

    <label for="input-creditCardNumb">creditCardNumb: </label>
    <input type="text" name="input-creditCardNumb" id="input-acreditCardNumb">

    <label for="input-creditCardExpDate:">creditCardExpDate: </label>
    <input type="date" name="input-creditCardExpDate" id="input-creditCardExpDate">
     
    <label for="input-numOrderedItems">numOrderedItems: </label>
    <input type="text" name="input-numOrderedItems" id="input-numOrderedItems">

     <label for="input-pricePaid">pricePaid: </label>
    <input type="text" name="input-pricePaid" id="input-pricePaid">

   </fieldset>
    <input class="btn" type="submit" id="addPerson" value="Add">
     <input class="btn" type="button" value="cancel" onClick="browsePeople()">
</form>
</div>



{{!-- Updata An Order --}}
<div id="update">
  <form method="POST" id="addPlanet">
      <legend><strong>Update An Order</strong></legend>
        <fieldset class="fields"> 
         <label><strong>OrderID:</strong> </label>
            <select name="delete-customer" id="delete-customer">
                {{#each data}}
                <a href="/deleteCustomer/{{this.orderID}}"><option value="{{this.orderID}}">{{this.orderID}}</option></a>
                {{/each}}
            </select>
        </label>     
          <!--inserting  An Order -->

        <label><strong>CustomerID:</strong> </label>
            <select name="delete-customer" id="delete-customer">
                {{#each data}}
                <a href="/deleteCustomer/{{this.customerID}}"><option value="{{this.customerID}}">{{this.customerID}}</option></a>
                {{/each}}
            </select>
        </label>    
        
    <label for="input-lname">order date: </label>
    <input type="date" name="input-lname" id="input-lname">

    <label for="input-address">creditCardNumb: </label>
    <input type="text" name="input-address" id="input-address">

    <label for="input-city">creditCardExpDate: </label>
    <input type="date" name="input-city" id="input-city">
     
    <label for="input-city">numOrderedItems: </label>
    <input type="text" name="input-city" id="input-city">

     <label for="input-city">pricePaid: </label>
    <input type="text" name="input-city" id="input-city">

    </fieldset>
        <input class="btn" type="submit" id="addPerson" value="Update">
        <input class="btn" type="button" value="cancel" onClick="browsePeople()">
</form> 
</div>

<!--Deleting An Order -->
<div id="delete" style="display: block">
  <form method="POST" id="deleteOrder" action="/deleteOrder">
      <legend><strong>Delete An order </strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <label><strong>orderID:</strong> </label>
           <select name="delete-order" id="delete-order">
                {{#each orders}}
                <option value= "{{this.orderID}}">{{this.orderID}}</option>
                {{/each}}
           </select>
        </label>     
    </fieldset>
    <input class="btn" type="submit" id="DeletePerson" value="Delete">
    <input class="btn" type="button" value="cancel" onClick="browsePeople()">
  </form> 
</div>


<script src ="./js/addOrder.js">  </script> 
